.footer {
	background-color: #000e24;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85px;
	width: 100%;
	&-text {
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		font-weight: normal;
		font-style: normal;
	}
}