* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}



#particles-js {
  height: 628px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: url("../images/header_bg.png");
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	@import './layout-header.scss';
	@import './layout-body';
	@import './layout-footer';	
}


@import './media';
