* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

#particles-js {
  height: 628px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: url("../images/header_bg.png");
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .header {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  width: 50vw;
  z-index: 1;
}
.main-container .header-welcome {
  font-size: 48px;
  line-height: 150px;
  color: white;
  z-index: 2;
}
.main-container .header-mpo {
  font-size: 150px;
  line-height: 150px;
  color: white;
  z-index: 2;
}
.main-container .header-banner {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: white;
  margin-bottom: 50px;
  z-index: 2;
}
.main-container .header-button_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}
.main-container .header-button_container .header-button {
  background-color: rgba(0, 148, 255, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  height: 100px;
  width: 360px;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  border: solid 0px;
  cursor: pointer;
  transition: 0.5s ease;
}
.main-container .header-button_container .header-button:hover {
  border: solid 1px #fff;
  border-radius: 30px;
  background-color: rgba(0, 148, 255, 0.8);
}
.main-container .template-container {
  background-color: white;
  height: 250vh;
}
.main-container .template-container-header {
  text-align: center;
  font-weight: bold;
  line-height: 42px;
  font-size: 36px;
  font-style: normal;
  margin-top: 100px;
  margin-bottom: 30px;
}
.main-container .template-container-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}
.main-container .template-container .template-image {
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  width: 400px;
}
.main-container .template-container .template-image h3 {
  text-align: center;
  margin-top: 20px;
}
.main-container .template-container .template-image img {
  height: 400px;
  width: inherit;
  transition: transform 0.2s ease-in-out;
  border: solid 1px #000;
}
.main-container .template-container .template-image:hover img {
  transform: scale(1.05);
}
.main-container .template-container .template-image:hover .overlay {
  opacity: 1;
}
.main-container .template-container .template-image .overlay {
  height: 410px;
  width: inherit;
  background-color: rgba(1, 67, 134, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.main-container .template-container .template-image .overlay-button {
  background-color: #000e23;
  height: 85px;
  width: 225px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s ease;
}
.main-container .template-container .template-image .overlay-button:hover {
  border: solid 1px #fff;
}
.main-container .template-container .template-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .template-container .template-modal-image {
  margin: auto;
}
.main-container .template-container .template-modal-image img {
  height: 80vh;
  width: auto;
}
.main-container .footer {
  background-color: #000e24;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 100%;
}
.main-container .footer-text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1024px) {
  .main-container .header {
    width: 60vw;
    padding: 15px;
    height: 90vh;
    margin-top: 40px;
  }
  .main-container .header-welcome {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 36px;
  }
  .main-container .header-mpo {
    font-size: 120px;
  }
  .main-container .header-banner {
    font-size: 16px;
    text-align: center;
  }
  .main-container .header-button_container {
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
  }
  .main-container .header-button_container .header-button {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-container .template-container {
    height: 180vh;
    margin-top: -10px;
  }
  .main-container .template-container-header {
    font-size: 36px;
    margin-top: 0px;
  }
  .main-container .template-container-gallery {
    flex-direction: row;
    height: auto;
  }
  .main-container .template-container-gallery .template-image {
    width: 300px;
  }
  .main-container .template-container-gallery .template-image img {
    width: inherit;
    height: 300px;
  }
  .main-container .template-container-gallery .template-image .overlay {
    height: 310px;
    flex-direction: row;
    width: inherit;
  }
  .main-container .template-container-gallery .template-image .overlay-button {
    width: 120px;
    height: 60px;
    font-size: 12px;
  }
  .main-container .footer {
    margin-top: 100px;
    width: 100%;
  }
  .main-container .footer h4 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  #particles-js {
    height: 100vh;
    background: center center/cover url("../images/header_bg.png");
  }

  .main-container .header {
    width: 70vw;
    padding: 15px;
    height: 90vh;
    margin-top: 40px;
  }
  .main-container .header-welcome {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 36px;
  }
  .main-container .header-mpo {
    font-size: 120px;
  }
  .main-container .header-banner {
    font-size: 16px;
    text-align: center;
  }
  .main-container .header-button_container {
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
  }
  .main-container .header-button_container .header-button {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-container .template-container {
    height: 520vh;
    margin-top: 40px;
  }
  .main-container .template-container-header {
    font-size: 24px;
    margin-top: 0px;
  }
  .main-container .template-container-gallery {
    flex-direction: row;
    height: auto;
  }
  .main-container .template-container-gallery .template-image {
    width: 350px;
  }
  .main-container .template-container-gallery .template-image img {
    width: inherit;
    height: 300px;
  }
  .main-container .template-container-gallery .template-image .overlay {
    height: 310px;
    flex-direction: column;
    width: inherit;
  }
  .main-container .template-container-gallery .template-image .overlay-button {
    width: 140px;
    height: 60px;
    font-size: 12px;
  }
  .main-container .footer {
    margin-top: 100px;
    width: 100%;
  }
  .main-container .footer h4 {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  #particles-js {
    height: 100vh;
    background: center center/cover url("../images/header_bg.png");
  }

  .main-container .header {
    width: 80vw;
    padding: 15px;
    height: 90vh;
    margin-top: 40px;
  }
  .main-container .header-welcome {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 24px;
  }
  .main-container .header-mpo {
    font-size: 65px;
  }
  .main-container .header-banner {
    font-size: 16px;
    text-align: center;
  }
  .main-container .header-button_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-container .header-button_container .header-button {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-container .template-container {
    height: 520vh;
    margin-top: 40px;
  }
  .main-container .template-container-header {
    font-size: 24px;
    margin-top: 0px;
  }
  .main-container .template-container-gallery {
    flex-direction: column;
    height: auto;
  }
  .main-container .template-container-gallery .template-image {
    width: 350px;
  }
  .main-container .template-container-gallery .template-image img {
    width: inherit;
    height: 300px;
  }
  .main-container .template-container-gallery .template-image .overlay {
    height: 310px;
    flex-direction: column;
    width: inherit;
  }
  .main-container .template-container-gallery .template-image .overlay-button {
    width: 140px;
    height: 60px;
    font-size: 12px;
  }
  .main-container .footer {
    margin-top: 100px;
    width: 100%;
  }
  .main-container .footer h4 {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  #particles-js {
    height: 100vh;
    background: center center/cover url("../images/header_bg.png");
  }

  .main-container .header {
    width: 90vw;
    padding: 15px;
    height: 90vh;
    margin-top: 40px;
  }
  .main-container .header-welcome {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 24px;
  }
  .main-container .header-mpo {
    font-size: 65px;
  }
  .main-container .header-banner {
    font-size: 16px;
    text-align: center;
  }
  .main-container .header-button_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-container .header-button_container .header-button {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-container .template-container {
    height: 575vh;
    margin-top: 40px;
  }
  .main-container .template-container-header {
    font-size: 24px;
    margin-top: 0px;
  }
  .main-container .template-container-gallery {
    flex-direction: column;
    height: auto;
  }
  .main-container .template-container-gallery .template-image {
    width: 320px;
  }
  .main-container .template-container-gallery .template-image img {
    width: inherit;
    height: 300px;
  }
  .main-container .template-container-gallery .template-image .overlay {
    height: 310px;
    flex-direction: column;
    width: inherit;
  }
  .main-container .template-container-gallery .template-image .overlay-button {
    width: 140px;
    height: 60px;
    font-size: 12px;
  }
  .main-container .footer {
    margin-top: 100px;
    padding: 10px;
    width: 100%;
  }
  .main-container .footer h4 {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  #particles-js {
    height: 100vh;
    background: center center/cover url("../images/header_bg.png");
  }

  .main-container .header {
    width: 90vw;
    padding: 15px;
    height: 90vh;
    margin-top: 40px;
  }
  .main-container .header-welcome {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 24px;
  }
  .main-container .header-mpo {
    font-size: 60px;
  }
  .main-container .header-banner {
    font-size: 16px;
    text-align: center;
  }
  .main-container .header-button_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-container .header-button_container .header-button {
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-container .template-container {
    height: 520vh;
    margin-top: 40px;
  }
  .main-container .template-container-header {
    font-size: 24px;
    margin-top: 0px;
  }
  .main-container .template-container-gallery {
    flex-direction: column;
    height: auto;
  }
  .main-container .template-container-gallery .template-image {
    width: 250px;
  }
  .main-container .template-container-gallery .template-image img {
    width: inherit;
    height: 300px;
  }
  .main-container .template-container-gallery .template-image .overlay {
    height: 310px;
    flex-direction: column;
    width: inherit;
  }
  .main-container .template-container-gallery .template-image .overlay-button {
    width: 140px;
    height: 60px;
    font-size: 12px;
  }
  .main-container .footer {
    margin-top: 100px;
    width: 100%;
  }
  .main-container .footer h4 {
    text-align: center;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
